// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --header-height: 55px;
    --first-color: #99ca3d;
    --second-color: #1295db;
    --dark-color: #38454d;
    --text-color: #cacaca;
}
