// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --header-height: 65px;
    --first-color: #000;
    --second-color: #F92D36;
    --dark-color: #38454d;
    --text-color: #cacaca;
}

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1150px,
);

$navbar-dark-color: #000;

.h-60 {
    height: 60%;
}
.h-40 {
    height: 40%;
}
.title {
    text-transform: capitalize;
    font-size: 20px;
}
*, html {
    scroll-behavior: smooth !important;
}
@media screen and (min-width: 992px) {
    .h-lg-100 {
        height: 100% !important;
    }
}
@media screen and (max-width: 576px) {
    .h-sm-100 {
        height: 100% !important;
    }
}

